header {
    background: black;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position:absolute;
    top: 500px;
    left: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block; 
    text-align: center;
    width: 35%;
    vertical-align: top;
    background: #cccccc;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}
