header {
    background: black;
    padding: 20px 0;
}

main {
    backgroun: black;
}   
    
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position:absolute;
    top: 500px;
    left: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: red;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


nav a:hover {
color: white;
text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block; 
    text-align: center;
    width: 35%;
    vertical-align: top;
    background: #ffffff;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: solid 3px black;
    border-radius: 15px;
}

.produtos li:hover {
    border-color:red;
}

.produtos li:active {
    border-color: black;
}

.produtos li:hover h2 {
    font-size: 40px;
}

.produtos h2 {
    font-size: 35px;
    font-weight: bold;
}

.produto-descriçao {
    font-size: 18px;
}

.produto-preço {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background: black;
    padding: 40px 0;
}

.copyright {
    color: white;
    font: 13px;
}
